.worldly-container {
  height: 100%;
  margin: 1.25%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 31%);
  justify-items: center;
  grid-gap: 1.25%;
}

.worldly-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.worldly-image:hover {
  border: 1px solid black;
}