/* SURFACE TEMPERATURE PAGE */
.temp-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.temp-page-container > h2 {
  width: 85%;
  padding: 1%;
  font-size: 1em;
  text-align: center;
}

.temp-page-container > p {
  padding: 0 1% 1%;
  margin: 0;
}

.temp-data-graph {
  margin: auto;
}