nav {
  width: 80%;
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn-container {
  width: 65%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.btn-in-nav {
  background: transparent;
  border: none;
  color: #06762B;
  font-size: 1em;
  font-weight: 500;
}

.btn-in-nav:hover {
  cursor: pointer;
  text-transform: uppercase;
  border-top: 1px solid #06762B;
  border-bottom: 1px solid #06762B;
}

.logo-in-nav {
  width: auto;
  height: 22vh;
  margin: 4vh;
  z-index: 10;
}