/* NAV BAR - PAGE HEADER  */
nav {
  height: 15vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


/* BTN CONTAINER */
.btn-container {
  width: 65%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* SINGLE BTN */
.btn-in-nav {
  font-size: 1em;
  font-weight: 500;
  color: #06762B;
  background: transparent;
  border: none;
}

.btn-in-nav:hover {
  cursor: pointer;
  text-transform: uppercase;
  border-top: 1px solid #06762B;
  border-bottom: 1px solid #06762B;
}

/* LOGO */
.logo-in-nav {
  height: 22vh;
  width: auto;
  margin: 4vh;
  z-index: 10;
}